.navbar-container{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .router-links{
        text-decoration: none;
        color: black;
        margin: 5px;
        
        &:hover {
            color: #FFC2D1;
        }
    }

}