<nav>
  <a
    class="button"
    routerLink="/about-me"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Sobre mí
  </a>
  <a
    class="button"
    routerLink="/writing"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Cuentitos
  </a>
  <a
    class="button"
    routerLink="/reviews"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Reseñas
  </a>
  <a
    class="button"
    routerLink="/social"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Instagram
  </a>
  <a
    class="button"
    routerLink="/contact"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Contacto
  </a>
</nav>

<router-outlet></router-outlet>
