<div class="header-container">
  <div class="navbar-container">
    <nav>
      <ul class="nav justify-content-start">
        <li class="nav-item">
          <a class="router-links" routerLink="/about-me" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            Sobre mí
          </a>
        </li>
        <li class="nav-item">
          <a class="router-links" routerLink="/writing" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            Cuentitos
          </a>
        </li>
        <li class="nav-item">
          <a class="router-links" routerLink="/reviews" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            Reseñas
          </a>
        </li>
      </ul>
    </nav>
    <h1>Punto & Leído</h1>
    <nav>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="router-links" routerLink="/social" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            Instagram
          </a>
        </li>
        <li class="nav-item">
          <a class="router-links" routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            Contacto
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="round-container-header">
  <img src="../../assets/img/logo.png" alt="">
</div>

<router-outlet></router-outlet>