<div class="header-container" *ngIf="router != '/home-page'">
  <div class="navbar-container">
  <nav>
    <ul class="nav justify-content-start">
      <li class="nav-item">
        <a class="router-links" routerLink="/about-me" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
          Sobre mí
        </a>
      </li>
      <li class="nav-item">
        <a class="router-links" routerLink="/writing" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
          Libros
        </a>
      </li>
      <li class="nav-item">
        <a class="router-links" routerLink="/reviews" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
          Reseñas
        </a>
      </li>
    </ul>
  </nav>
  <h1 class="router-links" routerLink="/home-page" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Punto & Leído</h1>
  <nav>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="router-links" routerLink="/social" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
          Instagram
        </a>
      </li>
      <li class="nav-item">
        <a class="router-links" routerLink="/social" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
          Youtube
        </a>
      </li>
      <li class="nav-item">
        <a class="router-links" routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
          Contacto
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="header-bg">

</div>

<div class="logo"><img src="../../assets/img/logo.png" alt="smit"></div>
</div>


<router-outlet></router-outlet>