<!-- <div class="register-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nombre</label>
      <input
        type="text"
        formControlName="fullname"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
      />
      @if (submitted && f['fullname'].errors) {
      <div class="invalid-feedback">
        @if (f['fullname'].errors['required']) {
        <div>Fullname is required</div>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      @if (submitted && f['email'].errors) {
      <div class="invalid-feedback">
        @if (f['email'].errors['required']) {
        <div>Email is required</div>
        } @if (f['email'].errors['email']) {
        <div>Email is invalid</div>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label>Mensaje</label>
      <input
        type="text"
        formControlName="message"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"
      />
      @if (submitted && f['message'].errors) {
      <div class="invalid-feedback">
        @if (f['message'].errors['required']) {
        <div>Username is required</div>
        } @if (f['message'].errors['minlength']) {
        <div>Username must be at least 20 characters</div>
        } @if (f['message'].errors['maxlength']) {
        <div>Username must not exceed 400 characters</div>
        }
      </div>
      }
    </div>

    

    <div class="form-group form-check">
      <input
        type="checkbox"
        formControlName="acceptTerms"
        class="form-check-input"
        [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }"
      />
      <label for="acceptTerms" class="form-check-label"
        >I have read and agree to the Terms</label
      >
      @if (submitted && f['acceptTerms'].errors) {
      <div class="invalid-feedback">Accept Terms is required</div>
      }
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
      <button
        type="button"
        (click)="onReset()"
        class="btn btn-warning float-right"
      >
        Reset
      </button>
    </div>
  </form>
</div> -->

<div class="app-container">
  <div class="contact-form-container">
    <div class="contact-us">
      <div class="contact-header">
        <h1 >
          CONTACT US
        </h1>
      </div>
    </div>
    <div class="header">
      <h1>Let's get started</h1>
      <h2>Contact us to start your next project! </h2>
    </div>
    <div class="contact-form">
      <form  [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="fullname"
            placeholder="Nombre"
            [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
          />
          @if (submitted && f['fullname'].errors) {
          <div class="invalid-feedback">
            @if (f['fullname'].errors['required']) {
            <div>Fullname is required</div>
            }
          </div>
          }
        </div>
        <div class="form-group">
          <input
            placeholder="Email"
            type="text"
            class="form-control"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
          />
          @if (submitted && f['email'].errors) {
          <div class="invalid-feedback">
            @if (f['email'].errors['required']) {
            <div>Email is required</div>
            } @if (f['email'].errors['email']) {
            <div>Email is invalid</div>
            }
          </div>
          }
        </div>
        <div class="form-group">
          <input
            placeholder="Tell us about your project..."
            type="text"
            class="form-control"
            formControlName="message"
            [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"
          >
          @if (submitted && f['message'].errors) {
          <div class="invalid-feedback">
            @if (f['message'].errors['required']) {
            <div>Username is required</div>
            } @if (f['message'].errors['minlength']) {
            <div>Username must be at least 20 characters</div>
            } @if (f['message'].errors['maxlength']) {
            <div>Username must not exceed 400 characters</div>
            }
          </div>
          }
        </div>
        <button type="submit">SEND</button>
      </form>
    </div>
  </div>
</div>
