<div class="contact-form">
    <form action="https://formsubmit.co/puntoleido@gmail.com" method="POST" class="form-container" name="form" #f="ngForm" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="form-control input-container">
            <label>Nombre completo</label>
            <input name="name" type="text" class="form-control input-text" [(ngModel)]="form.name">
            <label>Dirección de correo</label>
            <input name="email" type="text" class="form-control input-text" [(ngModel)]="form.email">
            <label>Teléfono</label>
            <input name="phone" type="text" class="form-control input-text" [(ngModel)]="form.phone">
            <label>Comentario</label>
            <textarea name="message" type="text" class="form-control input-text" [(ngModel)]="form.message"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <button
              type="button"
              (click)="onReset(f)"
              class="btn btn-warning float-right"
            >
              Reset
          </button>
        </div>
    </form>
</div>