<div class="app-container">
  <div class="contact-form-container">
    <div class="contact-us">
      <div class="contact-header">
        <h1 >
          CONTACT US
        </h1>
      </div>
    </div>
    <div class="header">
      <h1>Let's get started</h1>
      <h2>Contact us to start your next project! </h2>
    </div>
    <div class="contact-form">
      <form  [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            type="text"
            formControlName="fullname"
            placeholder="Nombre"
            [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
          />
          @if (submitted && f['fullname'].errors) {
          <div class="invalid-feedback">
            @if (f['fullname'].errors['required']) {
            <div>Fullname is required</div>
            }
          </div>
          }
        </div>
        <div class="form-group">
          <input
            placeholder="Email"
            type="text"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
          />
          @if (submitted && f['email'].errors) {
          <div class="invalid-feedback">
            @if (f['email'].errors['required']) {
            <div>Email is required</div>
            } @if (f['email'].errors['email']) {
            <div>Email is invalid</div>
            }
          </div>
          }
        </div>
        <div class="form-group">
          <textarea
            placeholder="Tell us about your project..."
            type="text"
            formControlName="message"
            [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"
          >
          @if (submitted && f['message'].errors) {
          <div class="invalid-feedback">
            @if (f['message'].errors['required']) {
            <div>Username is required</div>
            } @if (f['message'].errors['minlength']) {
            <div>Username must be at least 20 characters</div>
            } @if (f['message'].errors['maxlength']) {
            <div>Username must not exceed 400 characters</div>
            }
          </div>
          }</textarea>
        </div>
        <button type="submit">SEND</button>
      </form>
    </div>
  </div>
</div>
