<div class="nav-bar-container">
  <ul class="nav nav-pills" *ngFor="let key of shelves">
    <li class="nav-item">
      <button type="button" class="button-custom" (click)="getShelf(key.id, indexForShelf = 0)"
        [ngClass]="{'active' : key.id == activeShelf}">{{key.name}}</button>
    </li>
  </ul>
</div>

<div class="books-container">
  <div *ngFor="let book of booksFromShelf()">
    <div class=container>
      <div class=card>
        <div class="image mb-3">
          <div class="col-md-4">
            <img src={{book.imgLink}} alt="book cover" class="img-fluid rounded-start" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">
                <small class="text-muted">{{book.author}}</small>
              </p>
            </div>
          </div>
        </div>
        <div class="info">
          <p>{{book.publisher}}</p>
          <p>{{book.publishDate}}</p>
          <p>{{book.categories}}</p>
        </div>
        <div class="card-body content">
          <p class="card-text">{{book.description}}</p>
          <a href="{{book.previewLink}}" class="card-link">Continúa leyendo</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination-container">
  <ul class="pagination">
    <li>
      <button [disabled]="indexForShelf<=0" class="button-custom" (click)="pagination(false)">
        Previous
      </button>
    </li>
    <li>
      <button [disabled]="dataFromService && dataFromService.length<10" class="button-custom" (click)="pagination(true)">
        Next
      </button>
    </li>
  </ul>
</div>