<p class="text">Sorry<br>Work in progress</p>
<div class="container">
  <div class="bg"></div>
  <div class="arm-left"></div>
  <div class="blacksmith">
    <div class="shape">
      <div class="dress"></div>
      <div class="dress"></div>
    </div>
    <div class="head">  
      <div class="moustache"></div>
      <div class="moustache"></div>
      <div class="eye"></div>    
    </div>
    <div class="arm-right">
      <div class="hammer"></div>
    </div>
  </div>
  <div class="sword">
    <div class="handle"></div>
  </div>
  <div class="anvil"></div>
  <div class="fire-box">
    <div class="fire"></div>
    <div class="fire"></div>
    <div class="fire"></div>
    <div class="fire"></div>
  </div>
</div>
<!-- //////////////// CREDIT //////////////// -->
<a href="https://codepen.io/SofiaSergio/" target="_blank">
  <div id="link">
    <i class="fab fa-codepen"></i>
    <p>watch other pens</p>
  </div>
</a>