<!-- 
<div class="articles-content"> 
    <div  *ngFor="let medium of data()">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{medium.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{medium.pubDate}}</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href={{medium.link}} class="card-link">Sigue leyendo</a>
            </div>
          </div>
    </div>
</div> -->

<div class="wrapper">
  <h1>Mis publicaciones</h1>
  <div class="articles-container">
    <div class="cols" *ngFor="let medium of data()">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://unsplash.it/500/500/)">
						<div class="inner">
							<p>{{medium.title}}</p>
              <span>{{medium.pubDate}}</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <a href={{medium.link}} class="card-link">Sigue leyendo</a>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
 </div>