<div class="shelf-container">
    <nav class="shelf">
      <a class="book about router-links" routerLink="/about-me" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Sobre mí</a>
      <a class="book books router-links" routerLink="/writing" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Libros</a>
      <a class="book reviews router-links" routerLink="/reviews" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Reseñas</a>
      <a class="book social router-links" routerLink="/social" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Instagram</a>
      <a class="book video router-links" routerLink="/social" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Youtube</a>
      <a class="book contact router-links" routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Contacto</a>
     
      <span class="door left"></span>
      <span class="door right"></span>
    </nav>
</div>

<router-outlet></router-outlet>